body {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    color: #a49588;
    padding: 0;
    margin: 0;
    width: 100%;
    border: 0;
    outline: 0;

}


.mobile_top_bar {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    color: #a49588;
    padding: 0;
    margin: 0;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 100%;
    height: 65px;
    top: 0;
    left: 0;
    display: block;
    background: #3d3269;
    z-index: 10;
}

.mobile_top_bar_ul {
    vertical-align: baseline;
    background: transparent;
    position: relative !important;
    z-index: 2;
    height: 100%;
    list-style-type: none;
    display: table;
    font-size: 1.2rem;

}

.mobile_open_menu {
    font-size: 100%;
    background: transparent;
    min-width: 65px;
    padding: 0 !important;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.nav_icon_3 {
    vertical-align: baseline;
    width: 35px;
    height: 30px;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    position: absolute;
    top: 16px;
    left: 15px;
}

.mobile_span {
    text-align: left;
    cursor: pointer;
    font-size: 100%;
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #a49588;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    top: 0px;
}

.mobile-overlay {
    font-size: 100%;
    vertical-align: baseline;
    background: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .7;
    z-index: 9;
}



.mobile_menu_ul {

    font-size: 100%;
    vertical-align: baseline;
    margin: 0 0 .85em 0;
    margin-bottom: 75px;
    position: relative;
    left: 0;
    float: left;
    z-index: 1;
    -webkit-transition: all 500ms ease;
    top: 0;
}

.mobile_menu_title {

    vertical-align: baseline;
    list-style-type: none;
    float: none;
    width: 100%;
    margin: 10px auto;
    position: relative;
    max-width: 600px;
    font-size: 24px;
    line-height: 28px;
    background: #222;
    color: #fff;
    font-family: 'OpenSans-LightRegular', Verdana, Geneva, sans-serif;
}

.mobile_menu_title_span {

    font-size: 14px;
    line-height: 18px;
    display: block;
    color: #aaa;


}

.mobile_menu_li {
    color: #666;
    vertical-align: baseline;
    list-style-type: none;
    float: none;
    margin: 10px auto;
    position: relative;
    max-width: 600px;
}

.mobile_menu_a {

    cursor: pointer;
    padding: 15px 50px 15px 15px;
    display: block;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    color: #222;
    background: #ddd;
    overflow: hidden;
    min-height: 22px;
    font-family: 'OpenSans-LightRegular', Verdana, Geneva, sans-serif;
}


@media screen and (width <=1024px) {
    .mobile_menu {

        font-size: 100%;
        /* vertical-align: baseline; */
        background: transparent;
        top: 65px;
        display: flex;
        position: fixed;
        z-index: 9;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 50px);
        background-color: rgba(0, 0, 0, 0.4);
        justify-content: space-around;

    }

}