



.menu{


-webkit-text-size-adjust: 100%;
color: #fff;
-webkit-font-smoothing: antialiased;
font: 16px/24px Arial,Verdana,sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
overflow: hidden;
position: fixed;
top: 0;
height: 100%;
right: 0;
z-index: 12;
/* width: 290px; */
}




.menu_background{
    transform-origin: left top;
    display: block;
    width: 100%;
    height: 120%;
    background-color: #000;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(0px, 0px);
    transition: all .5s ease-in-out;
     

}

.menu_navigation{
 
    position: absolute;
    width: 250px;
    top: 50px;
    right: 20px;
    opacity: 1;
    visibility: inherit;
}

.nav_links{

   
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
  
}
.nav_item{


    list-style-type: none;
    position: relative;
    margin: 0;
    text-align: right;
    display: block;
    translate: none;
    rotate: none;
    scale: none;
    opacity: 1;
    visibility: inherit;
    transform: translate(0px, 0px);
}
.nav_item_a{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    list-style-type: none;
    text-align: right;
    visibility: inherit;
    background-color: transparent;
    text-decoration: none;
    position: relative;
    display: block;
    font: 16px/40px D-DIN-Regular,Arial,Verdana,sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1pt solid #252525;
    transition: color 1s cubic-bezier(.25,1,.25,1),background-color 1s cubic-bezier(.25,1,.25,1);
}
.menu_close{
    
    text-align: center;
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    z-index: 11;
    background-color: rgba(0,0,0,.5);
    display: block;
    opacity: 1;
    visibility: inherit;
}



/* ************************************************************************************************************************** */

/* 
body {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    color: #a49588;
    padding: 0;
    margin: 0;
    width: 100%;
    border: 0;
    outline: 0;

}




.mobile_top_bar {
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    color: #a49588;
    padding: 0;
    margin: 0;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 100%;
    height: 65px;
    top: 0;
    left: 0;
    display: block;
    background: #3d3269;
    z-index: 10;
}

.mobile_top_bar_ul {
    vertical-align: baseline;
    background: transparent;
    position: relative !important;
    z-index: 2;
    height: 100%;
    list-style-type: none;
    display: table;
    font-size: 1.2rem;

}

.mobile_open_menu {
    font-size: 100%;
    background: transparent;
    min-width: 65px;
    padding: 0 !important;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.nav_icon_3 {
    vertical-align: baseline;
    width: 35px;
    height: 30px;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    position: absolute;
    top: 16px;
    left: 15px;
}

.mobile_span {
    text-align: left;
    cursor: pointer;
    font-size: 100%;
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #a49588;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    top: 0px;
}

.mobile-overlay {
    font-size: 100%;
    vertical-align: baseline;
    background: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .7;
    z-index: 9;
}



.mobile_menu_ul {

    font-size: 100%;
    vertical-align: baseline;
    margin: 0 0 .85em 0;
    margin-bottom: 75px;
    position: relative;
    left: 0;
    float: left;
    z-index: 1;
    -webkit-transition: all 500ms ease;
    top: 0;
}

.mobile_menu_title {

    vertical-align: baseline;
    list-style-type: none;
    float: none;
    width: 100%;
    margin: 10px auto;
    position: relative;
    max-width: 600px;
    font-size: 24px;
    line-height: 28px;
    background: #222;
    color: #fff;
    font-family: 'OpenSans-LightRegular', Verdana, Geneva, sans-serif;
}

.mobile_menu_title_span {

    font-size: 14px;
    line-height: 18px;
    display: block;
    color: #aaa;


}

.mobile_menu_li {
    color: #666;
    vertical-align: baseline;
    list-style-type: none;
    float: none;
    margin: 10px auto;
    position: relative;
    max-width: 600px;
}

.mobile_menu_a {

    cursor: pointer;
    padding: 15px 50px 15px 15px;
    display: block;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    color: #222;
    background: #ddd;
    overflow: hidden;
    min-height: 22px;
    font-family: 'OpenSans-LightRegular', Verdana, Geneva, sans-serif;
}


@media screen and (width <=1024px) {
    .mobile_menu {

        font-size: 100%;
        background: transparent;
        top: 65px;
        display: flex;
        position: fixed;
        z-index: 9;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 50px);
        background-color: rgba(0, 0, 0, 0.4);
        justify-content: space-around;

    }

} */