.check {




    -webkit-text-size-adjust: none;
    font: normal 16px/22px Verdana, Geneva, sans-serif;
    cursor: pointer;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    border: 0;
    outline: 0;
    background: transparent;
    font-weight: normal;
    vertical-align: middle;
    display: inline-block;
    font-family: 'OpenSans-LightRegular', Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0 !important;
    line-height: 1 !important;
    color: #ffffff !important;
    font-size: 10vw !important;




}